In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
from shapely.geometry import Point
from datetime import datetime, date
import os
import sys
import logging  
#from keplergl import KeplerGl
logging.basicConfig(stream=sys.stdout, level=logging.INFO, format="%(asctime)s %(message)s")
logger=logging.getLogger(__name__)
logger.setLevel(level=logging.DEBUG)

base_dir = os.getcwd()


output_dir = os.path.join(base_dir, "../../../../data/cdc/output/")

In [2]:
cdc_url ="https://data.cdc.gov/api/views/x9gk-5huc/rows.csv?fourfour=x9gk-5huc&cacheBust=17140616481&accessType=DOWNLOAD"

#Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week,"Current week, flag",Previous 52 week Max,"Previous 52 weeks Max, flag",Cumulative YTD Current MMWR Year,"Cumulative YTD Current MMWR Year, flag",Cumulative YTD Previous MMWR Year,"Cumulative YTD Previous MMWR Year, flag",LOCATION1,LOCATION2,sort_order,geocode

ndss_df = pd.read_csv(
    cdc_url, delimiter=",", 
    )

ndss_df.head()

,Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week,"Current week, flag",Previous 52 week Max,"Previous 52 weeks Max, flag",Cumulative YTD Current MMWR Year,"Cumulative YTD Current MMWR Year, flag",Cumulative YTD Previous MMWR Year,"Cumulative YTD Previous MMWR Year, flag",LOCATION1,LOCATION2,sort_order,geocode
0,US RESIDENTS,2022,10,Anthrax,NaN,-,0.0,-,NaN,-,NaN,-,NaN,US RESIDENTS,20221000001,NaN
1,NEW ENGLAND,2022,10,Anthrax,NaN,-,0.0,-,NaN,-,NaN,-,NaN,NEW ENGLAND,20221000002,NaN
2,CONNECTICUT,2022,10,Anthrax,NaN,-,0.0,-,NaN,-,NaN,-,CONNECTICUT,NaN,20221000003,POINT (-72.738288 41.575155)
3,MAINE,2022,10,Anthrax,NaN,-,0.0,-,NaN,-,NaN,-,MAINE,NaN,20221000004,POINT (-69.06137 45.117911)
4,MASSACHUSETTS,2022,10,Anthrax,NaN,-,0.0,-,NaN,-,NaN,-,MASSACHUSETTS,NaN,20221000005,POINT (-71.481104 42.151077)

In [6]:
ndss_df.dropna(inplace=True,subset=["geocode", "Current week","Current MMWR Year","MMWR WEEK" ])
gs=gpd.GeoSeries.from_wkt(ndss_df['geocode'])  
ndss_gdf = gpd.GeoDataFrame(ndss_df, 
    geometry = gpd.GeoSeries.from_wkt(ndss_df['geocode']) ,
    crs = 'EPSG:4326')
ndss_gdf["lat"] = ndss_gdf.geometry.y
ndss_gdf["lon"] = ndss_gdf.geometry.x
ndss_gdf.info()
ndss_gdf.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 62593 entries, 984 to 1100389
Data columns (total 19 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Reporting Area                           62593 non-null  object
 1   Current MMWR Year                        62593 non-null  int64
 2   MMWR WEEK                                62593 non-null  int64
 3   Label                                    62593 non-null  object
 4   Current week                             62593 non-null  float64
 5   Current week, flag                       62593 non-null  object
 6   Previous 52 week Max                     54394 non-null  float64
 7   Previous 52 weeks Max, flag              62593 non-null  object
 8   Cumulative YTD Current MMWR Year         62593 non-null  float64
 9   Cumulative YTD Current MMWR Year, flag   62593 non-null  object
 10  Cumulative YTD Previous MMWR Year        56539 non-null  float64
 11  Cumulative YTD Previous MMWR Year, flag  62593 non-null  object
 12  LOCATION1                                62593 non-null  object
 13  LOCATION2                                0 non-null      object
 14  sort_order                               62593 non-null  int64
 15  geocode                                  62593 non-null  object
 16  geometry                                 62593 non-null  geometry
 17  lat                                      62593 non-null  float64
 18  lon                                      62593 non-null  float64
dtypes: float64(6), geometry(1), int64(3), object(9)
memory usage: 9.6+ MB

,Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week,"Current week, flag",Previous 52 week Max,"Previous 52 weeks Max, flag",Cumulative YTD Current MMWR Year,"Cumulative YTD Current MMWR Year, flag",Cumulative YTD Previous MMWR Year,"Cumulative YTD Previous MMWR Year, flag",LOCATION1,LOCATION2,sort_order,geocode,geometry,lat,lon
984,MAINE,2022,10,Campylobacteriosis,2.0,-,11.0,-,24.0,-,62.0,-,MAINE,NaN,20221000984,POINT (-69.06137 45.117911),POINT (-69.06137 45.11791),45.117911,-69.061370
985,MASSACHUSETTS,2022,10,Campylobacteriosis,12.0,-,60.0,-,200.0,-,148.0,-,MASSACHUSETTS,NaN,20221000985,POINT (-71.481104 42.151077),POINT (-71.4811 42.15108),42.151077,-71.481104
991,NEW YORK,2022,10,Campylobacteriosis,28.0,-,101.0,-,296.0,-,207.0,-,NEW YORK,NaN,20221000991,POINT (-75.59655 42.921241),POINT (-75.59655 42.92124),42.921241,-75.596550
993,PENNSYLVANIA,2022,10,Campylobacteriosis,24.0,-,109.0,-,323.0,-,329.0,-,PENNSYLVANIA,NaN,20221000993,POINT (-77.838886 40.896694),POINT (-77.83889 40.89669),40.896694,-77.838886
995,ILLINOIS,2022,10,Campylobacteriosis,2.0,-,71.0,-,178.0,-,269.0,-,ILLINOIS,NaN,20221000995,POINT (-89.148632 40.124144),POINT (-89.14863 40.12414),40.124144,-89.148632

In [3]:

    
ndss_gdf['date'] = ndss_gdf.apply(lambda row: date.fromisocalendar(row['Current MMWR Year'],row['MMWR WEEK'], 1), axis=1 )
ndss_gdf['date'] = pd.to_datetime(ndss_gdf['date'])
ndss_gdf.head()

NameError: name 'ndss_gdf' is not defined

In [18]:
ndss_gdf.to_csv(output_dir + "ndss_gdf.csv", index=False)
ndss_gdf.to_parquet(output_dir + "ndss_gdf.parquet", index=False)

In [8]:
pathogens = ndss_gdf.groupby(by=["Label"], as_index=False).agg(count=("Current week", "sum"))
pathogens

                                                 Label   count
0        Arboviral diseases, Chikungunya virus disease    27.0
1    Arboviral diseases, Eastern equine encephaliti...     1.0
2    Arboviral diseases, Jamestown Canyon  virus di...     2.0
3         Arboviral diseases, La Crosse  virus disease     7.0
4           Arboviral diseases, Powassan virus disease     6.0
..                                                 ...     ...
101                                  Varicella disease  1518.0
102                                Varicella morbidity  3514.0
103  Vibriosis (any species of the family Vibrionac...  1028.0
104  Vibriosis (any species of the family Vibrionac...  1444.0
105                 Zika virus disease, non-congenital     1.0

[106 rows x 2 columns]

In [4]:
def generatePathogenPoint(pathogen,dataframe):
    logger.info(f"Generating pathogen {pathogen}")
    filter_df = dataframe[dataframe["Label"] == pathogen]
    if len(filter_df) == 0:
        return 
    filter_df.to_file(os.path.join(output_dir,f"ndss_{pathogen}_zip.geojson" ) , driver='GeoJSON')
    filter_df.to_csv(os.path.join(output_dir,f"ndss_{pathogen}_zip.csv" ))
    filter_df.head(20)
    
pathogen = pathogens["Label"].unique().tolist()
for g in pathogen:
    g = g.replace(" ","_").replace("-","_").replace(",","_").replace(".","_").replace("/","_")
    generatePathogenPoint(g,ndss_gdf)

NameError: name 'pathogens' is not defined

In [15]:
mpox = ndss_gdf[ndss_gdf["Label"] == "Mpox"]

In [16]:
mpox

,Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week,"Current week, flag",Previous 52 week Max,"Previous 52 weeks Max, flag",Cumulative YTD Current MMWR Year,"Cumulative YTD Current MMWR Year, flag",Cumulative YTD Previous MMWR Year,"Cumulative YTD Previous MMWR Year, flag",LOCATION1,LOCATION2,sort_order,geocode,geometry,lat,lon,date
702441,FLORIDA,2024,6,Mpox,8.0,-,8.0,-,30.0,-,12.0,-,FLORIDA,NaN,20240605001,POINT (-81.68864879 28.566044895),POINT (-81.68865 28.56604),28.566045,-81.688649,2024-02-05
702770,VIRGINIA,2024,6,Mpox,1.0,-,2.0,-,4.0,-,3.0,-,VIRGINIA,NaN,20240605006,POINT (-78.697948713 37.512820504),POINT (-78.69795 37.51282),37.512821,-78.697949,2024-02-05
702805,NEW YORK,2024,6,Mpox,1.0,-,5.0,-,5.0,-,2.0,-,NEW YORK,NaN,20240604981,POINT (-75.610701447 42.937083979),POINT (-75.6107 42.93708),42.937084,-75.610701,2024-02-05
706094,TEXAS,2024,6,Mpox,3.0,-,9.0,-,21.0,-,36.0,-,TEXAS,NaN,20240605017,POINT (-99.33305009 31.462733046),POINT (-99.33305 31.46273),31.462733,-99.333050,2024-02-05
706457,TENNESSEE,2024,6,Mpox,1.0,-,4.0,-,6.0,-,1.0,-,TENNESSEE,NaN,20240605012,POINT (-86.343051177 35.843002697),POINT (-86.34305 35.843),35.843003,-86.343051,2024-02-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093082,NEW YORK,2024,38,Mpox,1.0,-,5.0,-,44.0,-,20.0,-,NEW YORK,NaN,20243804981,POINT (-75.610701447 42.937083979),POINT (-75.6107 42.93708),42.937084,-75.610701,2024-09-16
1093318,UTAH,2024,38,Mpox,1.0,-,2.0,-,8.0,-,3.0,-,UTAH,NaN,20243805025,POINT (-111.678248391 39.323725193),POINT (-111.67825 39.32373),39.323725,-111.678248,2024-09-16
1095401,WASHINGTON,2024,38,Mpox,4.0,-,8.0,-,34.0,-,NaN,-,WASHINGTON,NaN,20243805032,POINT (-120.556263187 47.411251843),POINT (-120.55626 47.41125),47.411252,-120.556263,2024-09-16
1096307,TEXAS,2024,38,Mpox,2.0,-,16.0,-,235.0,-,104.0,-,TEXAS,NaN,20243805017,POINT (-99.33305009 31.462733046),POINT (-99.33305 31.46273),31.462733,-99.333050,2024-09-16
1099714,NEW YORK CITY,2024,38,Mpox,1.0,-,19.0,-,361.0,-,110.0,-,NEW YORK CITY,NaN,20243804982,POINT (-73.985886 40.747183),POINT (-73.98589 40.74718),40.747183,-73.985886,2024-09-16